node_modules
npm-debug.log
.git
.gitignore
README.md
README_WINUX.md
.env
*.log
.DS_Store
__pycache__
public
scripts
ansible
nginx_winux.conf.example
winux-api-nodejs.service.example
docker-compose.yml
Dockerfile

