[Unit]
Description=Winux API Flask
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/winux
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn -w 4 -b 127.0.0.1:5000 --access-logfile - --error-logfile - api_winux:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

