
#wordPicker {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: white;
  border-left: 2px solid #ccc;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 1em;
  max-width: 250px;
  width: 100%;
  display: none;
  overflow-y: auto;
  max-height: 90vh;
}


#wordGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin-top: 0.5em;
}

#wordPicker button {
  type: button;
}